/* links */
.lista-links li a, .lista-links li a:hover, .lista-links li a:link{
	color: #444;
}
.lista-links li a:visited{
	color: #000;
}
.lista-links li a:hover{
	text-decoration: underline;
}
.lista-links{
	list-style-type: none;
}
.lista-links li::before{
	color: #EA501C;
	content: "\f10c";
	font-family: "FontAwesome";
	margin-right: .5em;
}

/* cursos 2016 */
.panel-default{
	overflow-x: scroll;
}
.table #listCursos .pendiente{
	text-transform: capitalize;
}
.table #listCursos .culminado{
	background: #00974B;
	text-transform: capitalize;
}
.table #listCursos .culminado a{
	text-decoration: underline;
	color: #fff;
}